* {
    box-sizing: border-box;
}
body {
    font-family: "Roboto" , sans-serif;
    background-image: url("images/patt.png");
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
[class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
}
.row {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}
.col-3 {
    width: 25%;
}
.col-6 {
    width: 50%;
}
.header {
    background-color: rgba(255, 255, 255, 0.75);
    height: 100px;
    display: flex ;
    align-items: center;
}
.menu {
    display: flex;
}
.menu li {
    width: 25%;
}
.menu a {
    text-decoration: none;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: block;
    text-align: center;
    line-height: 50px;
    height: 50px;
    color: #2c71b8;
    font-size: 21px;
    border-left: 1px solid #2c71b8;
}
.menu li :last-child {
    border-right: 1px solid #2c71b8;
}
.menu a:hover {
    background-color: #2c71b8;
    color: white;
}
.col-3 img {
    margin-top: 7px;
}
nav .menu .dropdownbt ul {
    position: absolute;
    width: 285px;
    background-color: #2c71b8;
    display: none;
}
.header nav .dropdownbt ul li a {
    color: white;
}
.header nav .dropdownbt ul li {
    width: 100%;
}
nav .menu .dropdownbt:hover > ul {
    display: initial;
} 
.col-3:last-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.menu >
.dropdownbt:hover a {
    background-color: #2c71b8;
    color: #c9dceb;
}
.menu .dropdownbt ul li a:hover {
    background-color: white;
    color: #2c71b8;
}
.header .col-3 .fr {
    border: 1px solid #2c71b8;
    width: 200px;
    height: 40px;
    display: flex;
}
.header .col-3 .fr input {
    width: 160px;
    height: 100%;
    border: none;
    color: #2c71b8;
    background-color: #c9dceb;
}
.header .col-3 .fr .dfd {
    background-color: #2c71b8;
    height: 30px;
    width: 30px;
    margin: auto;
    border: none;
}

.header .col-3 .krwt {
    width: 40px;
    height: 40px;
    border: none;
} 
.quantity {
    position: relative;
}
.quantity::after {
    content: "0";
    background-color: #2c71b8;
    position: absolute;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: -12px; ;
    left: -17px ;
    border: none;
}
.main {
    display: flex ;
    height: 2180px;
    justify-content: center;
}
.filtr {
    width: 270px;
    height: 845px;
    display: flex;
    align-items: end;
    padding: 30px 30px 30px 30px;
    border: 1px solid white;
}
.sub {
    width: 210px;
    height: 50px;
    background-color: #2c71b8;
    color: white;
    font-size: 24px;
    border: 1px solid white;
   
}
.goods {
    height: 100%;
    width: 900px;
    padding: 30px 0 0 30px;
    padding-right: 0;
    display: flex;
    flex-direction: column;
}
.block {
    width: 100%;
    height: 125px;
    display: flex;
    flex-direction: row;
}
.whay{
    width: 450px;
    height: 125px;
}
.whay p a,
.whay p {
    color: #a0b7d9;
}
.select {
   width: 450px;
   font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
}
.choice {
    width: 270px;
    height: 40px;
    background-color: #2c71b8;
    border: 1px solid white;
    display: flex;
    align-items: center;
}
.select ul ul li a,
.choice a {
    color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
.select ul ul {
    width: 270px;
    position: absolute;
    display: none;
}
.choice a img {
    filter: invert(1);
}
.select ul ul li {
    width: 100%;
    height: 40px;
    background-color: #2c71b8;
    border: 1px solid white;
}
.select ul:hover > ul {
    display: initial;
}
.select ul ul li:hover {
    background-color: white;
}
.select ul ul li a:hover {
    color: #2c71b8;
}
p,h1 {
    color: white;
    margin-bottom: 30px;
    width: auto;
    height: auto;
}
h1 {
    font-size: 24px;
}
.info {
    width: 100%;
    height: 1993px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.bord {
    width: 270px;
    height: 650px;
    border: 1px solid white;
    margin: 0 30px 30px 0;
    text-align: start;
}
.bord-1 {
    width: 270px;
    height: 650px;
    border: 1px solid white;
    margin: 0;
}
.prod {
    width: 100%;
    height: 180px;
    background-color: #c9dceb;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: end;
}
.prod div {
    display: flex;
    flex-direction: column;
}
.xx {
    width: 30px;
    height: 30px;
    margin: 10px;
    background-image: url(images/add\ to.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #c9dceb;
    border: 1px solid #2c71b8;
}
.xx:hover {
    width: 30px;
    height: 30px;
    margin: 10px;
    background-image: url(images/add-to-ho.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #2c71b8;
    border: 1px solid #2c71b8
}
.xx-1 {
    width: 30px;
    height: 30px;
    background-image: url(images/skr.png);
    background-position: center;
    background-repeat: no-repeat;
    margin: 10px;
    background-color: #c9dceb;
    border: 1px solid #2c71b8
}
.xx-1:hover {
    width: 30px;
    height: 30px;
    background-image: url(images/skr-ho.png);
    background-position: center;
    background-repeat: no-repeat;
    margin: 10px;
    background-color: #2c71b8;
    border: 1px solid #2c71b8
}
.f-1 {
    background-image: url(images/monitor.png);
}
.f-2 {
    background-image: url(images/tv.png);
}
.f-3 {
    background-image: url(images/watch.png);
}
.f-4 {
    background-image: url(images/laptop.png);
}
.f-5 {
    background-image: url(images/play.png);
}
.f-6 {
    background-image: url(images/telephone.png);
}
.f-7 {
    background-image: url(images/tablet.png);
}
.f-8 {
    background-image: url(images/tv.png);
}
.f-9 {
    background-image: url(images/watch.png);
}
.cont {
    padding: 10px;
}
.cont p {
    font-size: 20px;
}
.cont span {
    font-weight: bold;
}
.poz {
    text-align: center;
    font-size: 40px;
}
.buy {
    width: 210px;
    height: 50px;
    font-size: 20px;
    background-color:#568dc6;
    background-image: url(images/krwt-2.png);
    background-repeat: no-repeat;
    background-position: 178px;
    color: white;
    border: 1px solid white;
}
.ff {
    margin-bottom:20px;
}
.ff-1 {
    margin: 0 20px 20px 20px;
}
